<% if user_signed_in? %>
<div id="commit_form">
<% if current_user.committed_to?(post) %>
  <%= render partial: 'commitments/reneg', locals: { post: post } %>
<% else %>
  <%= render partial: 'commitments/commit', locals: { post: post } %>
<% end %>
</div>
<% end %>