// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin:0px;
	zoom:1;
	background-color: #F6F2E9;
}

::-webkit-input-placeholder {
   font-style: italic;
}

:-moz-placeholder {  
   font-style: italic;
}

@font-face {  
  font-family: handsUp ;  
  src: url( /assets/FontFileName.ttf ) format("truetype");  
}  

ul, li {
	list-style: none;
}

header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:200px;
	color:white;
	text-align: center;
}

.nav {
	position:fixed;
	left:0;
	top:180px;
	height:100%;
	width:80px;
	display: block;
	/*background:url('strip.png') no-repeat 0 0;*/
	background-size: 80px;
	z-index: 10;
	a {
		text-decoration: none;
	}
	img {
		position: relative;
		right:30px;
		top:30px;
		width:60px;
		opacity: 2;
	}
}

#logo {
	margin-left:auto;
	margin-right:auto;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
	width:550px;
	height:90px;
	margin-top:35px;
	img {
		width:500px;
		position: relative;
		top:30px;
	}
}

#counter {
	position: fixed;
	left: 968px;
	top: 110px;
	padding:0px 20px 0px 17px;
	letter-spacing: 4px;
	td {
		font-size: 1.9em;
		font-family: courier;
		position: relative;
	}
	span.hand {
		font-family: handsUp, verdana, arial;
		text-decoration: none;
		font-size: 50px;
		padding-left:5px;
		-webkit-transform: rotate(120deg);
		-moz-transform: rotate(120deg);
		-o-transform: rotate(120deg);
		-ms-transform: rotate(120deg);
	}
}

#footer {
	width:200px;
	padding-right:0px;
	margin-right:0px;
}

#sideways {
	margin-top: 70px;
	width: 4650px;
	overflow: hidden;
	margin-left:80px;
}

.scene {
	width:660px;
	height:400px;
	float:left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10;
  padding:25px 80px;
	margin:7px 50px 50px 50px;
	background-color: white;
}

#hero {
	img {
		width:400px;
		position: relative;
		right:50px;
		top:30px;
		z-index: 0;
	}
	p {
		position: relative;
		top: 20px;
		width:220px;
		float:right;
		font-size: 27px;
	}
	form{
		float:right;
		position: relative;
		top:-100px;
		label {
			font-size: 15px;
		}
		input[type=text], input[type=email] {
			border: 0px;
			padding: 10px 10px 2px 10px;
			font-size: 15px;
			border-bottom: 1px solid black;
			outline: none;
			box-shadow: none;
			-webkit-border-radius: 0px;
  		-moz-border-radius: 0px;
  		border-radius: 0px;
		}
		input[type=submit] {
			width:auto;
			position: relative;
			left: 180px;
			top:10px;
			}
	}
}

#join {
	form{
		float:right;
	label {
		font-size: 15px;
	}
	input[type=text], input[type=email] {
			border: 0px;
			padding: 10px 10px 2px 10px;
			font-size: 15px;
			border-bottom: 1px solid black;
			outline: none;
			box-shadow: none;
			-webkit-border-radius: 0px;
  		-moz-border-radius: 0px;
  		border-radius: 0px;
	}
	input[type=submit] {
		width:auto;
		position: relative;
		left: 180px;
		top:10px;
		}
	}
}



#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; } }


.alert {
  position:fixed;
  top: 140px;
  left: 835px;
  background-color:#CEF3CE;
  color:#41A841;
  border:1px solid #14AD14;
  opacity: .5;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding:10px;
}

.alert-alert {
  background-color: #F89191;
  color: #700;
  border: 1px solid #970F0F;
}


