<header>

	<div id="logo">
		<%= image_tag"logo.png" %>
	</div>
	<div id="counter">
		<table>
			<tr>
				<td>0000<%= @subscription_counter %><span class='hand'>W</span></td>
			</tr>
		</table>
</header>