<nav>
	<ul class="nav">
		<li><a href="#hero">1</a></li>
		<li><a href="#protection">2</a></li>
		<li><a href="#signup">3</a></li>
		<li><a href="#big_splash">4</a></li>
		<li><a href="#pitch">5</a></li>
	</ul>
</nav>